<!DOCTYPE HTML>
<html>
<head>
<title>WorldSpace</title>
<link rel="stylesheet" href="app.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link href='//fonts.googleapis.com/css?family=Macondo' rel='stylesheet'>
</head>
<!-- ########## -->
<body>
    
<div class="head">
    
    <img src="bplnb.png" id="blkandredlion">

    <img src="stagsig.png" id="stagsig">
    
<div class="title">
    <h1>A STORY ABOUT NECROMANCERS</h1>
</div>

<div class="subtitle">
    <h2>- AS TOLD FROM THE PERSPECTIVE OF THE BARD WHO LIVED IT.</h2>
</div>

<div class="overviewText">
    
    <p>
        <span class="tab"></span>  

    </p>
    
</div>

        <img src="paintcrop.jpg" id="paint">
        <img src="rose.jpg" id="rose">
    
</div>

<div class="spacer"></div>

<div class="description">
    
    <p class="desctext">
        
        <span class="tab">A</span> Story About Necromancers is not going to be the title
        of this book, but for now will act as a placeholder do to its accuracy as a descritption. This book revolves around the actions of several necromancers 
        and is told mostly from the perspective of a bard named Anya who has been hired 
        to bear witness to strange happenings in newly conquered lands. Anya is joined 
        by her mysterious employer Saershei and a hired sword known as Olen. The story 
        begins with Anya travelling to meet her new companions and follows throughout 
        their adventures. <br><br>

<span class="tab">Many</span> traditional fantasy elements will be present, things like drinking at a pub or 
inn, magic, swords and fantastic creatures. However the theme is meant to be dark and 
geared more towards feelings of hopelessness. To be certain the theme is meant to be 
dreadful despite the otherwise positive outlook of the main characters. <br><br>

<span class="tab">This</span> book features a female protagonist in a world that is moderately progressive. 
It is an odd mix of children being dutiful to the family, regardless of gender, and a
world where people are free to do what they want; for the most part. Technologically 
the world is consistent with high fantasy ideas, medieval Midgard meets some renaissance,
some steam punk and some technology that should not exist or is magical in nature. <br><br> 

<span class="tab">Religion</span> is present in this world and is mostly based on ancient Indo-European concepts
along with the author’s creativity. Atheism and not believing in the majority religion
is mostly safe in this world though fanatics do exist. Take Necromancy for example, in 
this world how much religion plays a role in the art varies per practitioner. For some 
necromancers their practice is very devotional while others seek power in order to avoid devotion. <br><br>

<span class="tab">The</span> story takes place in a  nation that is one of many and part of a massive world.
Most borders expand very rapidly leaving most of the internal country in a very wild 
state. This causes travel to be long and dangerous. The rapid expansion is fueled by
nationally sponsored settlement, guild charters or people who are not afraid of a rough
life simply looking for new opportunity.  <br><br>

<strong>This site is a continuous work in progress. All sections are being updated as the story is developed. <br><br>
</strong>

Plans for future develpoment: <br><br>
<em>
<span class="tab">Fan Forum</span>
<span class="tab">Review Forum</span>
<span class="tab">More Pictures including maps and concept art</span>

</em>

    </p>  
    
</div>

<div class="spacer"></div>

<div class="nav">
    
        <a href="#factions">
            <img src="factions.png" id="pic" class="marginator">
        </a>
        <a href="#characters">
            <img src="char.png" id="pic" class="marginator">
        </a>
        <a href="#locations">
            <img src="locations.png" id="pic" class="marginator">
        </a>
        <a href="#progress">
            <img src="progress.png" id="pic" class="marginator">
        </a>
        <a href="#ftauthor">
            <img src="fta.png" id="pic" class="marginator">
        </a>
        
</div>

<div class="spacer"></div>

<div class="factions" id="factions"> </div>

    <p class="desctext">
        
        <strong><em>FACTIONS</em></strong><br><br>
        
                <img src="drest.png" id="fact">
        <span class="tab"><strong>House Drest:</strong></span><br>
        Established at the end of the Expanse War for outstanding service 
        carried out by the family. Their colors are dark blue and black. 
        
         <br><br>
         
                 <img src="crimson.png" id="fact">
        <span class="tab"><strong>House Klauvian:</strong></span><br> 
        Established during the expanse war, the Klauvian family claimed their 
        title and no one contested it because of their good works during the 
        war. House Klauvian is known for their crimson colors with and axe and log 
        sigil. 
        
         <br><br>
         
                 <img src="honey.png" id="fact">
        <span class="tab"><strong>Lodthalahm:</strong></span> <br> 
        Lodthalahm is ruled by the princes of the city, the
        Merchants guild and three different holy orders. The sigil of 
        Lodthalahm is a bee hive because the cities first fortunes were generated 
        by their honey trade. 
        
         <br><br>
         
                 <img src="guild.png" id="fact">
        <span class="tab"><strong>The Bardic Guild:</strong></span> <br>
        Tasked with the overall well being and training of the kingdom's bards. 
    </p>  

<div class="spacer"></div>

<div class="characters" id="characters"> </div>

    <p class="desctext">
        
        <strong><em>CHARACTERS</em></strong><br><br>
        
        <span class="tab"><strong>Anya:</strong></span><br>
        Newly trained bard, master of lore and highly skilled herbalist.
        Anya is the protagonist in this story and almost everything is told
        from her perspective.With red hair and emerald green eyes she is of
        average height and build. She dresses well, but never with any intention
        to impress, and most of her daily choices are for comfort along the journey.
        
        <br><br>
        <span class="tab"><strong>Saershei:</strong></span><br>
        Mysterious master mage and progenitor of the journey. Saershei is very
        cheerful and extremely friendly. Saershei is tall with raven hair and
        amaranthine eyes that seem to change color often appearing even more
        violet than one would think possible. 
        
        <br><br>
        <span class="tab"><strong>Olen:</strong></span><br>
        Champion sword fighter who is hired by Saershei to guard the party.
        Olen is famous, at least according to Olen, but he is well off enough
        to own two horses so there must be something to his claim. Olen is a
        womanizer, who is taller than most other men, with dark blonde hair.
        Though Olen is a champion sword fighter he does not own any armor,
        except for some leather pieces, and relies on his agility to survive. 
        
        <br><br>
        <span class="tab"><strong>Sonnhilde:</strong></span><br>
        A skilled archer, fighter and magician Sonnhilde has a love for adventure.
        Her dream is to see the world and hopes her wedding to Muruk provides that 
        opportunity. She is the youngest of her siblings, with blonde hair, blue eyes
        and is considered very beautiful. 
        
        <br><br>
        <span class="tab"><strong>Muruk:</strong></span><br>
        Muruk is the son of a noble who has made a name for himself fighting
        in the war with the sea raiders as a ship captain. When the story opens
        he has just been married to Sonnhilde. Muruk is tall with dark hair, very well 
        travelled, creates instant rapport with any one he meets and people 
        are strangely drawn to him. 
        
          <br><br>
        <span class="tab"><strong>Lord-Marshal Drest:</strong></span><br>
        Lord Drest was a great leader in the Exapanse wars and because of his 
        service was awarded a great Citadel on the edge of the Expanse. Lord 
        Drest is one of the most imposing figures you could ever dread to face
        in combat and it is said the orcs of the Expanse viewed him as a 
        physical equal, though that is probably an exageration. 
        
    </p>  

<div class="spacer"></div>

<div class="locations" id="locations"> </div>

    <p class="desctext">
        
        <strong><em>LOCATIONS</em></strong><br><br>
        <img src="klauvin.jpg" id="fact">
        <span class="tab"><strong>Klauvian Logging Camp:</strong></span> <br>
        Located in the expanse, it is much more than a logging camp, the name
        just stuck as it grew into a nice town. 
        
        <br><br>
        <img src="api.jpg" id="fact">
        <span class="tab"><strong>Lodthalahm:</strong></span>  <br>
        A city on the Western border of the expanse and the East side of the old kingdom's
        boundaries. The city is divided in half with the old mineral traders having lost favor 
        on the East side and the new sea goods traders making the West side of town very 
        wealthy. The city was founded for religious reasons focussing 
        on a sacred grove at it's center. Lodthalahm is known for 
        honey exports and vaste amounts of farmland. 
        
        <br><br>
        <img src="mount.jpg" id="fact">
        <span class="tab"><strong>Finnlehold:</strong></span><br>
        Located in the Eastern expanse, Finnlehold grew because of soldiers
        from the war deciding to settle down in the area. Today it is a 
        very nice little town that survives on some farming and visitors. 

    </p>  

<div class="spacer"></div>

<div class="progress" id="progress"> </div>

    <p class="desctext">
        
        <strong><em>PROGRESS</em></strong><br><br>
        <strong>Monday, May 22 - 2017</strong><br><br>
        <span class="tab">First</span> website push on Heroku server, no
        custom domain has been purchased as title is undecided.<br><br>
        <strong>Friday, May 19 - 2017</strong><br><br>
        <span class="tab">Title</span> is undecided.<br><br>
        <span class="tab">Word</span> count passed the 20,000 word mark.<br><br>
        <span class="tab">Number</span> of pages: 35.<br><br>
        <span class="tab">Four</span> chapters completed including a prologue.
        <br><br>
        <span class="tab">Each</span> chapter is averaging 5,000 words and about 
        10 manuscript pages. 
        <br><br>
        <span class="tab">The</span> skeleton lists 15 chapters, but in an effort
        to cut down on chapter length expect that number to increase. Projections 
        estimate over twenty chapters.
        <br><br>
        
    </p>  

<div class="spacer"></div>

<div class="ftauthor" id="ftauthor"> </div>

    <p class="desctext">
        
        <strong><em>FROM THE AUTHOR</em></strong><br><br>
        
        Hello,<br><br>
        
        <span class="tab">I'm</span> glad you stopped by. I am writing this to 
        give those interested an overview of what is going on in my life as
        well as events of significance involving the book. I have found much more
        interest in this work than expected and
        I believe providing a site is a great way to 
        answer many of the questions I have been receiving. Besides, having 
        a site quickly answers the big question, "What is your book about?"<br><br>
        
        
        <span class="tab">I</span> typically spend two to four hours per day working on this book, that is if I can motivate 
        myself to switch gears from technology related ideas. I work full time
        as a tech analyst from 8-5 and I find switching out of that mode into a 
        fantasy mindset difficult at times. I am also the full stack engineer 
        for MiddleMatter, a startup company, so that takes a lot of my effort
        when I am not at work. Plus I am trying to workout everyday and have 
        some kind of social life, but I have made this work my priority. <br> <br>
        
        <span class="tab">As</span> I write this I have yet to settle on a title, though several titles 
        are in review. As I have time I intend to update the site and even attempt 
        to add in some interactivity as well as a way for team members or
        interested parties to collaborate. I am always looking for feedback and 
        interaction so if an idea strikes you send me an email: 
        atxjdc@gmail.com <br> <br>
        
        <span class="tab">Thank</span> you for your interest and have a great day!
        
            <br><br>
        -Jason
        <br><br>
        <img src="id.jpg" id="id">

    </p>  

<div class="spacer"></div>

</body>
</html>